:root {
  --LightColar-color: #f08080;
  --IndianRed-color: #cd5c5c;
  --Salmon-color: #fa8072;
  --LightPink-color: #ffb6c1;
  --PaleVioletRed-color: #db7093;
  --White-color: #ffffff;
  --Violet-color: #380c83;
  --HotPink-color: #ff69b4;
  --Aqua-color: #00ffff;
  --DarkViolet-color: #300d6d;
  --LightBlue-color: #26aaaa;
  --LightViolet-color: #4f10bd;
}
